In [1]:
import geopandas as gpd
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
import warnings
warnings.filterwarnings(action='ignore')
mpl.rcParams['axes.unicode_minus'] = False

endpoint = 'dao.c51deksujiip.ap-northeast-2.rds.amazonaws.com'
schema = 'dao'
db_connection_str = 'mysql+pymysql://admin:ekfkawnl@{}/{}'.format(endpoint, schema)
try :
    db_connection = create_engine(db_connection_str)
    conn = db_connection.connect()
except :
    print('fail to connect db')

def load_data_from_rds(tabel_name):
  sql = "SELECT * FROM {}".format(tabel_name)
  df = pd.read_sql(sql, db_connection)
  return df

In [2]:
df = load_data_from_rds('MainData')
df.head()

,번호,위도,경도,생태통로_유형,차선_수,등산객_이용빈도,생태통로_효율성,이용확인종_수,폭(m),연장(m),...,식물군락명,등산로까지 최단거리(km),유도울타리_위도_2.3km,유도울타리_경도_2.3km,유도울타리_연장_m,유도울타리_높이_m,교통량,환경영향평가점수,건물까지거리(km),최우점식물군락
0,1495,35.36019,128.06375,0,1,1,3,0,NaN,NaN,...,소나무군락,3.157026,0.000000,0.000000,0,0.000000,7493.875000,2,0.196597,소나무
1,1277,37.03408,128.40661,1,0,0,3,0,NaN,NaN,...,소나무-신갈나무군락,1.087578,0.000000,0.000000,0,0.000000,3573.857143,1,0.358139,소나무
2,1278,36.89832,128.30563,1,0,0,1,3,NaN,NaN,...,소나무군락,3.070682,0.000000,0.000000,0,0.000000,3430.428571,2,0.139054,소나무
3,1279,36.89687,128.30581,1,0,0,1,3,NaN,NaN,...,소나무군락,2.921190,0.000000,0.000000,0,0.000000,3430.428571,2,0.044559,소나무
4,1090,36.71051,127.42222,0,2,5,1,3,8.23,38.0,...,아까시나무-리기다소나무식재림,0.025083,36.708802,127.437539,886,1.571429,34542.400000,5,0.172184,아까시나무

In [3]:
df['경사도'] = df['경사도'].astype('int64')
df = df.drop('식물군락명', axis = 'columns')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   번호                497 non-null    int64
 1   위도                497 non-null    float64
 2   경도                497 non-null    float64
 3   생태통로_유형           497 non-null    int64
 4   차선_수              497 non-null    int64
 5   등산객_이용빈도          497 non-null    int64
 6   생태통로_효율성          497 non-null    int64
 7   이용확인종_수           497 non-null    int64
 8   폭(m)              270 non-null    float64
 9   연장(m)             271 non-null    float64
 10  높이(m)             21 non-null     float64
 11  개방도               22 non-null     float64
 12  경사도               497 non-null    int64
 13  주변 로드킬 빈도         497 non-null    int64
 14  산책로까지의 최단 거리(km)  497 non-null    float64
 15  농가까지의 거리(km)      497 non-null    float64
 16  도로 최고제한속도(km/h)   497 non-null    int64
 17  주변 동물종 개수         497 non-null    int64
 18  주변동물 출현빈도         497 non-null    int64
 19  지형기호(2.3km)       497 non-null    object
 20  하천거리(km)          497 non-null    float64
 21  등산로까지 최단거리(km)    497 non-null    float64
 22  유도울타리_위도_2.3km    497 non-null    float64
 23  유도울타리_경도_2.3km    497 non-null    float64
 24  유도울타리_연장_m        497 non-null    int64
 25  유도울타리_높이_m        497 non-null    float64
 26  교통량               497 non-null    float64
 27  환경영향평가점수          497 non-null    int64
 28  건물까지거리(km)        497 non-null    float64
 29  최우점식물군락           497 non-null    object
dtypes: float64(15), int64(13), object(2)
memory usage: 116.6+ KB

In [4]:
# 생태통로 유형별
df_overpass = df[df['생태통로_유형']==0]
df_tunnel = df[df['생태통로_유형']==1]

In [5]:
df_overpass.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 496
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   번호                300 non-null    int64
 1   위도                300 non-null    float64
 2   경도                300 non-null    float64
 3   생태통로_유형           300 non-null    int64
 4   차선_수              300 non-null    int64
 5   등산객_이용빈도          300 non-null    int64
 6   생태통로_효율성          300 non-null    int64
 7   이용확인종_수           300 non-null    int64
 8   폭(m)              249 non-null    float64
 9   연장(m)             249 non-null    float64
 10  높이(m)             0 non-null      float64
 11  개방도               0 non-null      float64
 12  경사도               300 non-null    int64
 13  주변 로드킬 빈도         300 non-null    int64
 14  산책로까지의 최단 거리(km)  300 non-null    float64
 15  농가까지의 거리(km)      300 non-null    float64
 16  도로 최고제한속도(km/h)   300 non-null    int64
 17  주변 동물종 개수         300 non-null    int64
 18  주변동물 출현빈도         300 non-null    int64
 19  지형기호(2.3km)       300 non-null    object
 20  하천거리(km)          300 non-null    float64
 21  등산로까지 최단거리(km)    300 non-null    float64
 22  유도울타리_위도_2.3km    300 non-null    float64
 23  유도울타리_경도_2.3km    300 non-null    float64
 24  유도울타리_연장_m        300 non-null    int64
 25  유도울타리_높이_m        300 non-null    float64
 26  교통량               300 non-null    float64
 27  환경영향평가점수          300 non-null    int64
 28  건물까지거리(km)        300 non-null    float64
 29  최우점식물군락           300 non-null    object
dtypes: float64(15), int64(13), object(2)
memory usage: 72.7+ KB

In [6]:
df_tunnel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 1 to 477
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   번호                178 non-null    int64
 1   위도                178 non-null    float64
 2   경도                178 non-null    float64
 3   생태통로_유형           178 non-null    int64
 4   차선_수              178 non-null    int64
 5   등산객_이용빈도          178 non-null    int64
 6   생태통로_효율성          178 non-null    int64
 7   이용확인종_수           178 non-null    int64
 8   폭(m)              21 non-null     float64
 9   연장(m)             22 non-null     float64
 10  높이(m)             21 non-null     float64
 11  개방도               22 non-null     float64
 12  경사도               178 non-null    int64
 13  주변 로드킬 빈도         178 non-null    int64
 14  산책로까지의 최단 거리(km)  178 non-null    float64
 15  농가까지의 거리(km)      178 non-null    float64
 16  도로 최고제한속도(km/h)   178 non-null    int64
 17  주변 동물종 개수         178 non-null    int64
 18  주변동물 출현빈도         178 non-null    int64
 19  지형기호(2.3km)       178 non-null    object
 20  하천거리(km)          178 non-null    float64
 21  등산로까지 최단거리(km)    178 non-null    float64
 22  유도울타리_위도_2.3km    178 non-null    float64
 23  유도울타리_경도_2.3km    178 non-null    float64
 24  유도울타리_연장_m        178 non-null    int64
 25  유도울타리_높이_m        178 non-null    float64
 26  교통량               178 non-null    float64
 27  환경영향평가점수          178 non-null    int64
 28  건물까지거리(km)        178 non-null    float64
 29  최우점식물군락           178 non-null    object
dtypes: float64(15), int64(13), object(2)
memory usage: 43.1+ KB

In [ ]:
#df_overpass: 육교형 생태통로
#df_tunnel: 터널형 생태통로

In [24]:
# 결측치 비율

def missing_ratio():
    df_null = df_overpass.isnull().sum().reset_index()
    df_null.columns = ['column', 'count']
    df_null['ratio'] = df_null['count']/len(df_null)
    df_null.loc[df_null['ratio'] != 0]
    display(df_null)
    
# missing_ratio()

def mr(df):
    df_over_null = df.isnull().sum().reset_index()
    df_over_null.columns = ['column', 'count']
    df_over_null['ratio'] = df_over_null['count']/len(df)
    df_over_null= df_over_null[df_over_null['ratio'] != 0]
    display(df_over_null)
mr(df_overpass)

   column  count  ratio
8    폭(m)     51   0.17
9   연장(m)     51   0.17
10  높이(m)    300   1.00
11    개방도    300   1.00

In [25]:
#명목형(Norminal)

def norminal_feature(df):
    nom_feature = [col for col in df.columns if df[col].dtypes == "object"]
    
    for col in nom_feature:
        df[col].value_counts().plot(kind='bar')
        plt.title(col)
        plt.show()
        
    return nom_feature

In [26]:
#순서형(Ordinal)

def ordinal_feature(df):
    ord_feature = df.iloc[:,[4,5,6,12]]
    
    for col in ord_feature:
        df[col].value_counts().plot(kind='bar')
        plt.title(col)
        plt.show()
    
    return ordinal_feature

ordinal_feature()

TypeError: ordinal_feature() missing 1 required positional argument: 'df'

In [27]:
#수치형

def numerical_feature(df):
    df_info = df.iloc[:, 0:4]
    num_feature = list(set(df.columns) - set(df_info) - set(norminal_feature(df))\
                        - set(ordinal_feature(df)))
    num_feature = np.sort(num_feature)

    for col in num_feature:
        sns.distplot(df.loc[df[col].notnull(), col])
        plt.title(col)
        plt.show()